.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width:100%;
  background-color:#ff9776;  
}

.nav-links > a {
  display:block;
  text-align: center;
  padding:10px;
  text-decoration: none;
  font-size:1.2rem;
  font-weight:bold;
  text-transform: uppercase;
}

.nav-links > a:hover, .nav-links > a:focus {
  background-color:#ff9776
}

.expanded {
  display:none;
}

@media screen and (min-width:636px) {
  .nav-links {
    margin-left:5px;
    display:block;
    position:static;
    width:auto;
    background:none;
  }

  .nav-links > a {
    display:inline-block;
    padding:15px 20px;
  }

  .hamburger {
    display: none;
  }
}